extend layout

block content
  a.logout(href='/auth/logout') Logout
  form(action='/#{questionSession.id}', method='post')
    label(for='question_id') Your Question
    textarea#question_id(name='question', rows=5)
    input.ask(type='submit', value='Ask')
  ul.questions
    each question in questions
      li
        a.user-photo(href='http://twitter.com/#{question.userUsername}')
          img(src=question.userPhoto, alt=question.userDisplayName,
          title=question.)
        p= question.text
        form(action='/questions/#{question.id}', method='post')
          button.upvote(type='submit', title='Upvote')
            = question.votes + ' votes'
